
body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* tipo de letra */
    font-size: 16px;
    /* tamaño de letra */
    margin:5px 15px 5px 15px;
    /* margenes de la hoja */
    padding: 5px; 
    /* distancia entre texto y borde */
    background-color: #0f5d7577;

}

h1,h2,h3,h4,h5,h6 {
    color: #4a095577; /* color del texto seleccionado seleccionado */
    font-weight: bold; /* negrita */
    text-align: center; /* alineacion del texto */
    background-color: #65d5f877; /* color de fondo */
    
}

table {
    margin: auto;
    color:#09013177;
    background-color: #def96477;
}
p {
    margin: auto;
    text-align: center;
}
#header, #footer {
    background-color: #a42b7077
}
#N{
    background-color: white;
}
#S{
    background-color: #6cfa8b77;
}
#P {
    background-color: #f6fa8077;
}
#footer {
    text-align: right;

}
